@import "maplibre-gl/dist/maplibre-gl.css";

@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";

@theme {
  --font-sans: var(--font-montserrat), var(--font-old-south-arabian), sans-serif;
  --breakpoint-3xs: 475px;
  --breakpoint-2xs: 540px;
  --breakpoint-xs: 590px;
}

html {
  scrollbar-gutter: stable;
  padding-right: 0 !important;
}

body {
  min-height: 100vh;
}

.navbar-logo-link {
  position: relative;
  display: block;
  left: -2px;
}

@media (min-width: 475px) {
  .navbar-logo-link {
    left: 3px;
  }
}

@supports (-moz-appearance: none) {
  .navbar-logo-link {
    left: 3px;
  }
}

.navbar-old-south-arabian-mark {
  position: relative;
  display: inline-block;
}

@media (min-width: 475px) {
  .navbar-old-south-arabian-mark {
    left: 9px;
  }
}

@supports (-moz-appearance: none) {
  @media (min-width: 475px) {
    .navbar-old-south-arabian-mark {
      left: 0px;
    }
  }
}

.select-listbox {
  animation: enable-interactions 150ms ease-out forwards;
}

@keyframes enable-interactions {
  0% {
    pointer-events: none;
  }
  99% {
    pointer-events: none;
  }
  100% {
    pointer-events: auto;
  }
}